nav.nav
    div.container
        div.nav-left
            a.nav-item(href='/')
                img(src='/logo.svg' alt='Pleb')
        div.nav-toggle
            span
            span
            span
        div.nav-center
            span.nav-item.is-unselectable Pleb
        div.nav-right.nav-menu
            a.nav-item.donate-modal-link Donate

            //if(user)
            //    a.nav-item(href='/dashboard') #{user.username}##{user.discriminator}
            //else
            //    a.nav-item(href='/auth/login') Login

            span.nav-item
                a.button.is-primary(href=inviteLink, target='_blank')
                    span.icon
                        i.fa.fa-envelope-o
                    span Invite