extends ../templates/head

block body
    section.hero.is-primary.is-fullheight
        div.hero-head
            include ../templates/nav
        div.hero-body
            div.container
                div.level
                    div.level-item.has-text-left
                        div
                            span
                                h1.title.is-1 Pleb
                            span
                                h2.subtitle.is-4 A very low class Discord bot.
                            div.block
                            div.block
                                a.button.is-primary.is-outlined.is-inverted.is-large(href='/auth/login') Login
                                span &nbsp;
                                a.button.is-primary.is-inverted.is-large
                                    span.icon
                                        i.fa.fa-envelope-o
                                    span Invite
                    div.level-item
                        img.image.is-square(src='/logo.svg' alt='Pleb')