doctype html
html
    head
        title #{title ? '#{title} | ' : ''}Pleb
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', crossorigin='anonymous')
        link(rel='stylesheet', href='main.css')

    body
        block body