doctype html
html
    head
        title #{title ? '#{title} | ' : ''}Pleb
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', crossorigin='anonymous')
        link(rel='stylesheet', href='main.css')
        script(src='https://code.jquery.com/jquery-3.2.1.js' type='text/javascript')
        script(src='https://checkout.stripe.com/checkout.js' type='text/javascript')
        script(src='./app.js' type='text/javascript')

    body
        if (error || success)
            section.section
                div.container: article.message.has-text-centered(class=error ? 'is-danger' : 'is-success')
                    div.message-body=error || success
        block body

include footer